@model IEnumerable<ENTPROG_FINALS.Models.Beneficiary>
@using System.Globalization;
@{ ViewData["Title"] = "Index"; }

<h1>Beneficiaries</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table id="records" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Beneficiaries)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Decsription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonationSummary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContacNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Beneficiaries)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Decsription)
            </td>
            <td>
                @string.Format(new CultureInfo("fil-PH"), "{0:C2}", decimal.Parse(item.DonationSummary))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContacNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <a class="btn btn-sm btn-warning" asp-action="Summary" asp-route-id="@item.BeneficiaryID"><i class="fa fa-window-maximize"></i></a> |
                <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.BeneficiaryID"><i class="fa fa-edit"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.BeneficiaryID" class="btn btn-sm btn-danger " onclick='return confirm
        ("Are you sure?");'><i class="fa fa-remove"></i></a>
            </td>
        </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.js"></script>
    <script>
        $(document).ready(function () {
            $('#records').DataTable();
        });

    </script>
}