@model IEnumerable<ENTPROG_FINALS.Models.Donation>
@using System.Security.Claims;
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Donate</a>
</p>
<table id="records" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DonationID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName) @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonationAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beneficiary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anonymous)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DonationID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    @if (item.Anonymous.ToString() == "Anonymous")
                    {
                        <text> N/A </text>
                    }
                    else
                    {
                        <text> @item.FirstName @item.LastName </text>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DonationAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Beneficiary.Beneficiaries)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Anonymous)
                </td>
                <td>
                    @{var userId = User.FindFirstValue(ClaimTypes.NameIdentifier); }
                    @if (userId == item.UserId.ToString())
                    {
                        <a class="btn btn-sm btn-warning" asp-action="Certificate" asp-route-id="@item.DonationID"><i class="fa fa-certificate"></i></a>

                    }
                    | <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.DonationID"><i class="fa fa-edit"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.DonationID" class="btn btn-sm btn-danger " onclick='return confirm("Are you sure?");'><i class="fa fa-remove"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.js"></script>
    <script>
        $(document).ready(function () {
            $('#records').DataTable();
        });

    </script>
}
